body {
background-color: bisque;
color: dimgray;
border-left: 0em, currentColor;
}
 #move {
text-align: right;
}


.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button {
  transform: translate(0, 0);
}

.button {
  background-color: #ffdeda;
  outline: 0;
}

.button {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}
}
p {
    border-radius: 50px;
    border-style: outset;
    border-color: black pink;
    border-width: thin;
    width:700px
    ;
    text-align: center;
       }
